.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  list-style: none;
  background-color: #282c34;
}

@media (min-width: 700px) {
  .Column{
    width: 50% !important;
  }

  .Project {
    position: fixed !important;
    width: 50% !important;
  }
}

.Column {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Consultant {
  margin: 20px;
}

.Consultant div {
  margin: 10px;
}

.Project {
  position: absolute;
  width: 100%;
}
.Project h3 {
  margin: 0px;
  padding: 0px;
}
.Project div {
  margin: 10px;
}