.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  list-style: none;
  background-color: #282c34;
}

#left {
  float: left;
  width: 50%;
  background: red;
  height: 100%;
  overflow: hidden;
}


.Consultant {
  margin: 20px;
}

.Consultant div {
  margin: 10px;
}

.Project {
  width: 100%;
}

.Project h3 {
  margin: 0px;
  padding: 0px;
}
.Project div {
  margin: 10px;
}